doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | Best wishes
            br
            | Volodymyr project
            br
            a(href="http://google.com") Visit my web site